<div id="add-product" v-cloak>
    <div class="container pt-5 pb-5">
        <h1>Produkt anlegen</h1>
        <hr />
        <ajax-form action="addProduct" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData"
            :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="itemName">Artikelname</label>
                        <input class="form-control" id="itemName" name="itemName" type="text"
                            :class="[formErrors.itemName ? 'is-invalid' : '']" v-model.trim="formData.itemName"
                            focus-first>
                        <div class="invalid-feedback" v-if="formErrors.itemName">Bitte Artikelname angeben.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="itemDescription">Artikelbeschreibung</label>
                        <input class="form-control" id="itemDescription" name="itemDescription" type="text"
                            :class="[formErrors.itemDescription ? 'is-invalid' : '']"
                            v-model.trim="formData.itemDescription">
                        <div class="invalid-feedback" v-if="formErrors.itemDescription">Bitte Artikelbeschreibung
                            angeben.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="itemNumber">Artikelnummer</label>
                        <input class="form-control" id="itemNumber" name="itemNumber" type="text"
                            :class="[formErrors.itemNumber ? 'is-invalid' : '']" v-model.trim="formData.itemNumber">
                        <div class="invalid-feedback" v-if="formErrors.itemNumber">Bitte Artikelnummer angeben.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="manufacturer">Hersteller</label>
                        <input class="form-control" id="manufacturer" name="manufacturer" type="text"
                            :class="[formErrors.manufacturer ? 'is-invalid' : '']" v-model.trim="formData.manufacturer">
                        <div class="invalid-feedback" v-if="formErrors.manufacturer">Bitte Hersteller angeben.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="unit">Einheit</label>
                        <select class="form-control" id="unit" name="unit"
                            :class="[formErrors.unit ? 'is-invalid' : '']" v-model.trim="formData.unit">
                            <% for(var i=0; i < sails.config.custom.units.length; i++) { %>
                                <option>
                                    <%= sails.config.custom.units[i] %>
                                </option>
                                <% } %>
                        </select>
                        <div class="invalid-feedback" v-if="formErrors.unit">Bitte Einheit angeben.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="packageSize">Packetgröße</label>
                        <input class="form-control" id="packageSize" name="packageSize" type="number"
                            :class="[formErrors.packageSize ? 'is-invalid' : '']" v-model.trim="formData.packageSize">
                        <div class="invalid-feedback" v-if="formErrors.packageSize">Bitte Packetgröße angeben.</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="category">Kategory</label>
                        <select class="form-control" id="category" name="category"
                            :class="[formErrors.category ? 'is-invalid' : '']" v-model.trim="formData.category">
                            <% for(var i=0; i < sails.config.custom.category.length; i++) { %>
                                <option>
                                    <%= sails.config.custom.category[i] %>
                                </option>
                                <% } %>
                        </select>
                        <div class="invalid-feedback" v-if="formErrors.category">Bitte Kategory angeben.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group text-right">
                        <a class="btn btn-outline-danger" href="/">abbrechen</a>
                        <ajax-button type="submit" :syncing="syncing" class="btn btn-outline-primary">anlegen
                        </ajax-button>
                    </div>
                </div>
            </div>
        </ajax-form>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>