<div id="history-inventory" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/ecommerce/history-inventory.less</em>, <em>assets/js/pages/ecommerce/history-inventory.page.js</em>, and <em>api/controllers/ecommerce/view-history-inventory.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
