<div id="list-product" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/ecommerce/list-product.less</em>, <em>assets/js/pages/ecommerce/list-product.page.js</em>, and <em>api/controllers/ecommerce/view-list-product.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
